--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: status_konversi; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_konversi AS ENUM (
    'Process',
    'Success',
    'Rejected',
    'Invalid'
);


ALTER TYPE public.status_konversi OWNER TO postgres;

--
-- Name: status_validasi; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_validasi AS ENUM (
    'Process',
    'Validated',
    'Invalid'
);


ALTER TYPE public.status_validasi OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin (
    id bigint NOT NULL,
    nama character varying NOT NULL,
    nip character varying NOT NULL
);


ALTER TABLE public.admin OWNER TO postgres;

--
-- Name: bidang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bidang_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bidang_id_seq OWNER TO postgres;

--
-- Name: bidang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bidang (
    id integer DEFAULT nextval('public.bidang_id_seq'::regclass) NOT NULL,
    bidang character varying NOT NULL
);


ALTER TABLE public.bidang OWNER TO postgres;

--
-- Name: credentials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credentials (
    username bigint NOT NULL,
    password character varying NOT NULL,
    user_role integer NOT NULL
);


ALTER TABLE public.credentials OWNER TO postgres;

--
-- Name: dosen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dosen (
    id bigint NOT NULL,
    nama character varying NOT NULL,
    nidn character varying NOT NULL
);


ALTER TABLE public.dosen OWNER TO postgres;

--
-- Name: konversi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.konversi_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.konversi_id_seq OWNER TO postgres;

--
-- Name: konversi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.konversi (
    id character varying DEFAULT COALESCE(('CONV'::text || (nextval('public.konversi_id_seq'::regclass))::text), '0'::text) NOT NULL,
    status public.status_konversi DEFAULT 'Invalid'::public.status_konversi NOT NULL,
    id_nilai integer NOT NULL,
    sks_used integer DEFAULT 0,
    id_prestasi character varying NOT NULL,
    nim bigint NOT NULL,
    dokumen text
);


ALTER TABLE public.konversi OWNER TO postgres;

--
-- Name: konversiMatkul; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."konversiMatkul" (
    id integer NOT NULL,
    kd_matkul character varying NOT NULL,
    sks integer NOT NULL,
    semester integer,
    id_konversi character varying NOT NULL
);


ALTER TABLE public."konversiMatkul" OWNER TO postgres;

--
-- Name: konversiMatkul_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."konversiMatkul_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."konversiMatkul_id_seq" OWNER TO postgres;

--
-- Name: konversiMatkul_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."konversiMatkul_id_seq" OWNED BY public."konversiMatkul".id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mahasiswa (
    id bigint NOT NULL,
    nama character varying NOT NULL,
    nim character varying NOT NULL,
    semester integer NOT NULL,
    id_prodi integer NOT NULL,
    no_hp character varying NOT NULL
);


ALTER TABLE public.mahasiswa OWNER TO postgres;

--
-- Name: matkul; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matkul (
    kode character varying NOT NULL,
    matkul character varying NOT NULL
);


ALTER TABLE public.matkul OWNER TO postgres;

--
-- Name: nilai; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nilai (
    id integer NOT NULL,
    id_region integer NOT NULL,
    id_tahapan integer NOT NULL,
    nilai character varying NOT NULL,
    min_sks integer NOT NULL,
    max_sks integer NOT NULL,
    "isValid" boolean NOT NULL
);


ALTER TABLE public.nilai OWNER TO postgres;

--
-- Name: prestasi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.prestasi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.prestasi_id_seq OWNER TO postgres;

--
-- Name: prestasi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prestasi (
    id character varying DEFAULT ('PRES'::text || (nextval('public.prestasi_id_seq'::regclass))::text) NOT NULL,
    id_mahasiswa bigint NOT NULL,
    nama_prestasi character varying NOT NULL,
    id_bidang integer NOT NULL,
    id_region integer NOT NULL,
    id_tahapan integer NOT NULL,
    id_dosen bigint NOT NULL,
    sertifikat text NOT NULL,
    surat_tugas text,
    validated public.status_validasi DEFAULT 'Process'::public.status_validasi,
    validation_date timestamp without time zone,
    id_admin bigint,
    create_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    update_at timestamp without time zone
);


ALTER TABLE public.prestasi OWNER TO postgres;

--
-- Name: prodi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prodi (
    id integer NOT NULL,
    prodi character varying NOT NULL
);


ALTER TABLE public.prodi OWNER TO postgres;

--
-- Name: prodiMatkul; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."prodiMatkul" (
    id integer NOT NULL,
    id_bidang integer NOT NULL,
    id_prodi integer NOT NULL,
    kd_matkul character varying NOT NULL,
    semester integer,
    sks integer
);


ALTER TABLE public."prodiMatkul" OWNER TO postgres;

--
-- Name: prodiMatkul_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."prodiMatkul_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."prodiMatkul_id_seq" OWNER TO postgres;

--
-- Name: prodiMatkul_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."prodiMatkul_id_seq" OWNED BY public."prodiMatkul".id;


--
-- Name: region; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.region (
    id integer NOT NULL,
    region character varying NOT NULL
);


ALTER TABLE public.region OWNER TO postgres;

--
-- Name: region_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.region_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.region_id_seq OWNER TO postgres;

--
-- Name: region_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.region_id_seq OWNED BY public.region.id;


--
-- Name: tahapan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tahapan (
    id integer NOT NULL,
    tahapan character varying NOT NULL
);


ALTER TABLE public.tahapan OWNER TO postgres;

--
-- Name: tahapan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tahapan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tahapan_id_seq OWNER TO postgres;

--
-- Name: tahapan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tahapan_id_seq OWNED BY public.tahapan.id;


--
-- Name: user_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_role (
    id integer NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public.user_role OWNER TO postgres;

--
-- Name: konversiMatkul id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."konversiMatkul" ALTER COLUMN id SET DEFAULT nextval('public."konversiMatkul_id_seq"'::regclass);


--
-- Name: prodiMatkul id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."prodiMatkul" ALTER COLUMN id SET DEFAULT nextval('public."prodiMatkul_id_seq"'::regclass);


--
-- Name: region id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region ALTER COLUMN id SET DEFAULT nextval('public.region_id_seq'::regclass);


--
-- Name: tahapan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahapan ALTER COLUMN id SET DEFAULT nextval('public.tahapan_id_seq'::regclass);


--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.admin (id, nama, nip) VALUES (12345678912, 'admin', '12345678912');


--
-- Data for Name: bidang; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.bidang (id, bidang) VALUES (2, 'Graphic Design');
INSERT INTO public.bidang (id, bidang) VALUES (3, 'Desain Poster');
INSERT INTO public.bidang (id, bidang) VALUES (4, 'VGK');


--
-- Data for Name: credentials; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.credentials (username, password, user_role) VALUES (222410101000, 'user', 1);
INSERT INTO public.credentials (username, password, user_role) VALUES (12345678912, 'admin', 2);
INSERT INTO public.credentials (username, password, user_role) VALUES (222410101074, 'fireeemaan', 1);


--
-- Data for Name: dosen; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.dosen (id, nama, nidn) VALUES (1122334455, 'M. A', '1122334455');
INSERT INTO public.dosen (id, nama, nidn) VALUES (19068701, 'Fahrobby Adnan S.Kom., M.MSI', '19068701');
INSERT INTO public.dosen (id, nama, nidn) VALUES (9129501, 'Karina Nine Amalia S.Kom.,M.Kom', '9129501');


--
-- Data for Name: konversi; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.konversi (id, status, id_nilai, sks_used, id_prestasi, nim, dokumen) VALUES ('CONV43', 'Success', 1, 2, 'PRES4', 222410101000, '');
INSERT INTO public.konversi (id, status, id_nilai, sks_used, id_prestasi, nim, dokumen) VALUES ('CONV47', 'Success', 1, 2, 'PRES4', 222410101000, '');
INSERT INTO public.konversi (id, status, id_nilai, sks_used, id_prestasi, nim, dokumen) VALUES ('CONV38', 'Success', 1, 2, 'PRES4', 222410101000, '');


--
-- Data for Name: konversiMatkul; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public."konversiMatkul" (id, kd_matkul, sks, semester, id_konversi) VALUES (161, 'MKI9007', 2, 3, 'CONV38');
INSERT INTO public."konversiMatkul" (id, kd_matkul, sks, semester, id_konversi) VALUES (162, 'KSI1302', 3, 3, 'CONV40');
INSERT INTO public."konversiMatkul" (id, kd_matkul, sks, semester, id_konversi) VALUES (163, 'KSI1306', 3, 3, 'CONV40');


--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.mahasiswa (id, nama, nim, semester, id_prodi, no_hp) VALUES (222410101000, 'user', '222410101000', 3, 1, '08123456789');
INSERT INTO public.mahasiswa (id, nama, nim, semester, id_prodi, no_hp) VALUES (222410101074, 'fireeemaan', '222410101074', 3, 1, '085111111111');


--
-- Data for Name: matkul; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.matkul (kode, matkul) VALUES ('MKI9007', 'Manajemen Dan Kewirausahaan 2 SKS');
INSERT INTO public.matkul (kode, matkul) VALUES ('KSI1413', 'Profesional Issue 2 SKS');
INSERT INTO public.matkul (kode, matkul) VALUES ('KST1205', 'Interaksi Manusia dan Komputer 3 SKS');


--
-- Data for Name: nilai; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.nilai (id, id_region, id_tahapan, nilai, min_sks, max_sks, "isValid") VALUES (1, 1, 1, 'C', 1, 3, true);
INSERT INTO public.nilai (id, id_region, id_tahapan, nilai, min_sks, max_sks, "isValid") VALUES (2, 2, 1, 'BC', 1, 3, true);
INSERT INTO public.nilai (id, id_region, id_tahapan, nilai, min_sks, max_sks, "isValid") VALUES (3, 3, 1, 'BC', 1, 3, true);


--
-- Data for Name: prestasi; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.prestasi (id, id_mahasiswa, nama_prestasi, id_bidang, id_region, id_tahapan, id_dosen, sertifikat, surat_tugas, validated, validation_date, id_admin, create_at, update_at) VALUES ('PRES4', 222410101000, 'Trw2', 1, 1, 1, 1122334455, 'b', NULL, 'Validated', NULL, NULL, '2023-12-02 13:32:08.183605', NULL);
INSERT INTO public.prestasi (id, id_mahasiswa, nama_prestasi, id_bidang, id_region, id_tahapan, id_dosen, sertifikat, surat_tugas, validated, validation_date, id_admin, create_at, update_at) VALUES ('PRES6', 222410101000, 'Tarweh', 7, 3, 5, 1122334455, 'Guthib.com', NULL, 'Validated', NULL, NULL, '2023-12-02 16:21:42.574406', NULL);
INSERT INTO public.prestasi (id, id_mahasiswa, nama_prestasi, id_bidang, id_region, id_tahapan, id_dosen, sertifikat, surat_tugas, validated, validation_date, id_admin, create_at, update_at) VALUES ('PRES18', 222410101074, 'Letter League', 5, 3, 5, 3108303, 'github.com', 'github.com', 'Validated', NULL, 12345678912, '2023-12-07 02:14:06.311542', '2023-12-07 02:14:46.22952');


--
-- Data for Name: prodi; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.prodi (id, prodi) VALUES (1, 'Sistem Informasi');
INSERT INTO public.prodi (id, prodi) VALUES (2, 'Teknologi Informasi');
INSERT INTO public.prodi (id, prodi) VALUES (3, 'Informatika');


--
-- Data for Name: prodiMatkul; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public."prodiMatkul" (id, id_bidang, id_prodi, kd_matkul, semester, sks) VALUES (1, 1, 1, 'MKI9007', 3, 2);
INSERT INTO public."prodiMatkul" (id, id_bidang, id_prodi, kd_matkul, semester, sks) VALUES (2, 4, 1, 'KSI1413', 4, 2);
INSERT INTO public."prodiMatkul" (id, id_bidang, id_prodi, kd_matkul, semester, sks) VALUES (5, 5, 1, 'KMU1042', 3, 3);


--
-- Data for Name: region; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.region (id, region) VALUES (1, 'Provinsi');
INSERT INTO public.region (id, region) VALUES (2, 'Nasional');
INSERT INTO public.region (id, region) VALUES (3, 'Internasional');


--
-- Data for Name: tahapan; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tahapan (id, tahapan) VALUES (1, 'Mendaftar');
INSERT INTO public.tahapan (id, tahapan) VALUES (2, 'Lolos Tahap Awal');
INSERT INTO public.tahapan (id, tahapan) VALUES (3, 'Lolos Didanai');


--
-- Data for Name: user_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.user_role (id, role) VALUES (1, 'Mahasiswa');
INSERT INTO public.user_role (id, role) VALUES (2, 'Admin');


--
-- Name: bidang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bidang_id_seq', 9, true);


--
-- Name: konversiMatkul_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."konversiMatkul_id_seq"', 168, true);


--
-- Name: konversi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.konversi_id_seq', 49, true);


--
-- Name: prestasi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prestasi_id_seq', 37, true);


--
-- Name: prodiMatkul_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."prodiMatkul_id_seq"', 47, true);


--
-- Name: region_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.region_id_seq', 3, true);


--
-- Name: tahapan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tahapan_id_seq', 6, true);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (id);


--
-- Name: bidang bidang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bidang
    ADD CONSTRAINT bidang_pkey PRIMARY KEY (id);


--
-- Name: credentials credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credentials
    ADD CONSTRAINT credentials_pkey PRIMARY KEY (username);


--
-- Name: dosen dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_pkey PRIMARY KEY (id);


--
-- Name: konversiMatkul konversiMatkul_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."konversiMatkul"
    ADD CONSTRAINT "konversiMatkul_pkey" PRIMARY KEY (id);


--
-- Name: konversi konversi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.konversi
    ADD CONSTRAINT konversi_pkey PRIMARY KEY (id);


--
-- Name: mahasiswa mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: matkul matkul_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matkul
    ADD CONSTRAINT matkul_pkey PRIMARY KEY (kode);


--
-- Name: nilai nilai_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nilai
    ADD CONSTRAINT nilai_pkey PRIMARY KEY (id);


--
-- Name: prestasi prestasi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prestasi
    ADD CONSTRAINT prestasi_pkey PRIMARY KEY (id);


--
-- Name: prodiMatkul prodiMatkul_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."prodiMatkul"
    ADD CONSTRAINT "prodiMatkul_pkey" PRIMARY KEY (id);


--
-- Name: prodi prodi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prodi
    ADD CONSTRAINT prodi_pkey PRIMARY KEY (id);


--
-- Name: region region_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT region_pkey PRIMARY KEY (id);


--
-- Name: tahapan tahapan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahapan
    ADD CONSTRAINT tahapan_pkey PRIMARY KEY (id);


--
-- Name: user_role user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_pkey PRIMARY KEY (id);


--
-- Name: admin admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_id_fkey FOREIGN KEY (id) REFERENCES public.credentials(username);


--
-- Name: credentials credentials_user_role_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credentials
    ADD CONSTRAINT credentials_user_role_fkey FOREIGN KEY (user_role) REFERENCES public.user_role(id);


--
-- Name: konversiMatkul konversiMatkul_id_konversi_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."konversiMatkul"
    ADD CONSTRAINT "konversiMatkul_id_konversi_fkey" FOREIGN KEY (id_konversi) REFERENCES public.konversi(id) NOT VALID;


--
-- Name: konversiMatkul konversiMatkul_kd_matkul_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."konversiMatkul"
    ADD CONSTRAINT "konversiMatkul_kd_matkul_fkey" FOREIGN KEY (kd_matkul) REFERENCES public.matkul(kode);


--
-- Name: konversi konversi_id_nilai_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.konversi
    ADD CONSTRAINT konversi_id_nilai_fkey FOREIGN KEY (id_nilai) REFERENCES public.nilai(id) NOT VALID;


--
-- Name: konversi konversi_id_prestasi_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.konversi
    ADD CONSTRAINT konversi_id_prestasi_fkey FOREIGN KEY (id_prestasi) REFERENCES public.prestasi(id) NOT VALID;


--
-- Name: mahasiswa mahasiswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_id_fkey FOREIGN KEY (id) REFERENCES public.credentials(username);


--
-- Name: mahasiswa mahasiswa_id_prodi_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_id_prodi_fkey FOREIGN KEY (id_prodi) REFERENCES public.prodi(id);


--
-- Name: nilai nilai_id_region_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nilai
    ADD CONSTRAINT nilai_id_region_fkey FOREIGN KEY (id_region) REFERENCES public.region(id);


--
-- Name: nilai nilai_id_tahapan_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nilai
    ADD CONSTRAINT nilai_id_tahapan_fkey FOREIGN KEY (id_tahapan) REFERENCES public.tahapan(id);


--
-- Name: prodiMatkul prodiMatkul_id_bidang_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."prodiMatkul"
    ADD CONSTRAINT "prodiMatkul_id_bidang_fkey" FOREIGN KEY (id_bidang) REFERENCES public.bidang(id);


--
-- Name: prodiMatkul prodiMatkul_id_prodi_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."prodiMatkul"
    ADD CONSTRAINT "prodiMatkul_id_prodi_fkey" FOREIGN KEY (id_prodi) REFERENCES public.prodi(id);


--
-- Name: prodiMatkul prodiMatkul_kd_matkul_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."prodiMatkul"
    ADD CONSTRAINT "prodiMatkul_kd_matkul_fkey" FOREIGN KEY (kd_matkul) REFERENCES public.matkul(kode);


--
-- PostgreSQL database dump complete
--

